.rowTitle{
  background-color: #febd17;
  color: #000000;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

button {
  border-radius: 10px;
  background-color: #febd17;
}

button:hover {
  color: #febd17;
  background-color: #ffffff;
}

button:active {
  background-color: #ffb700;
  color: #000000;
}

button:disabled {
  background-color: #FFFFFF;
  color: #B2B2B2;
}

.products--grid {
  max-height: 300px; /* Ajusta el tamaño máximo según tus necesidades */
  overflow-y: auto; /* Esto permitirá el desplazamiento vertical si el contenido excede el tamaño máximo */
}
